$colors: (
  primary-color: #e44d6e,
  secondary-color: #50b4e2,
  title-color: #5c5c5c,
  para-color: #949494,
  background-color: #e6e6e6,
  background-box: white,
);

$colors-dark:(
    primary-color: #e44d6e,
    secondary-color: #50b4e2,
    title-color: #5c5c5c,
    para-color: #949494,
    background-color: #e6e6e6,
    background-box: white,  
)
