
  $title-font: "DM Sans", sans-serif;
  $primary-color: #e44d6e;
  $secondary-color: #50b4e2;
  $title-color: #5c5c5c;
  $para-color: #949494;
  $body-font: "Inter", sans-serif;
  $shadow: 0px 3px 3px rgba(199, 199, 199, 0.144);
  $background-color: #e6e6e6;
  $background-box: white;


  //FONT-SIZE
  $xxsmall: 0.7rem;
  $xsmall: 0.8rem;
  $small: 1rem;
  $medium: 1.5rem;
  $large: 2rem;

